.btn-coll
{background-image:url(/img/icon2011111801.png);background-repeat:no-repeat;}
.btn-coll{float:left;margin-right:6px;overflow:hidden;cursor:pointer;font-size:12px;}
.btn-coll{width:68px;height:30px;padding:4px 0 4px 18px;margin-top:7px;background-position:-143px -169px;border:0;line-height:100px;color:transparent;font-size:0;*padding-bottom:0px;}
